In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Prework/carpetas_completa_diciembre_2021.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
data.head()

   ao_hechos mes_hechos         fecha_hechos  ...   longitud    latitud tempo
0     2016.0      Enero  2016-01-31 22:16:00  ... -99.140215  19.380315   NaN
1     2016.0      Enero  2016-01-31 20:50:00  ... -99.108403  19.352859   NaN
2     2016.0    Febrero  2016-02-01 00:30:00  ... -99.061321  19.356451   NaN
3     2016.0      Enero  2016-01-31 22:00:00  ... -98.976379  19.331633   NaN
4     2015.0  Diciembre  2015-12-25 12:00:00  ... -99.172189  19.387114   NaN

[5 rows x 19 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1366377 entries, 0 to 1366376
Data columns (total 19 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   ao_hechos             1365925 non-null  float64
 1   mes_hechos            1365925 non-null  object
 2   fecha_hechos          1365925 non-null  object
 3   ao_inicio             1366377 non-null  int64
 4   mes_inicio            1366377 non-null  object
 5   fecha_inicio          1366374 non-null  object
 6   delito                1366377 non-null  object
 7   fiscalia              1366375 non-null  object
 8   agencia               1366377 non-null  object
 9   unidad_investigacion  1366150 non-null  object
 10  categoria_delito      1366377 non-null  object
 11  calle_hechos          1362734 non-null  object
 12  calle_hechos2         527898 non-null   object
 13  colonia_hechos        1308065 non-null  object
 14  alcaldia_hechos       1362355 non-null  object
 15  competencia           302298 non-null   object
 16  longitud              1309014 non-null  float64
 17  latitud               1309014 non-null  float64
 18  tempo                 0 non-null        float64
dtypes: float64(4), int64(1), object(14)
memory usage: 198.1+ MB

In [ ]:
data.columns

Index(['ao_hechos', 'mes_hechos', 'fecha_hechos', 'ao_inicio', 'mes_inicio',
       'fecha_inicio', 'delito', 'fiscalia', 'agencia', 'unidad_investigacion',
       'categoria_delito', 'calle_hechos', 'calle_hechos2', 'colonia_hechos',
       'alcaldia_hechos', 'competencia', 'longitud', 'latitud', 'tempo'],
      dtype='object')

In [ ]:
data['categoria_delito'].unique()

array(['DELITO DE BAJO IMPACTO', 'ROBO DE VEHÍCULO CON Y SIN VIOLENCIA',
       'ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIOLENCIA',
       'HECHO NO DELICTIVO',
       'LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO',
       'ROBO A NEGOCIO CON VIOLENCIA',
       'ROBO A CASA HABITACIÓN CON VIOLENCIA',
       'ROBO A PASAJERO A BORDO DE MICROBUS CON Y SIN VIOLENCIA',
       'VIOLACIÓN', 'ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA',
       'ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON VIOLENCIA',
       'ROBO A REPARTIDOR CON Y SIN VIOLENCIA', 'HOMICIDIO DOLOSO',
       'ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA',
       'ROBO A PASAJERO A BORDO DEL METRO CON Y SIN VIOLENCIA',
       'SECUESTRO', 'PLAGIO O SECUESTRO', 'FEMINICIDIO'], dtype=object)

In [ ]:
df = data.copy()

In [ ]:
#FUNCIÓN CAMBIAR NOMBRES DE COLUMNAS
df.columns = ['Año_hechos', 'Mes_hechos', 'Fecha_hechos', 'Año_inicio', 'Mes_inicio', 'Fecha_inicio', 'Delito', 'Fiscalia', 'Agencia',
                 'Unidad_Investigación', 'Categoria_delito', 'Calle_hechos', 'Calle_hechos2', 'Colonia_hechos', 'Alcaldía_hechos', 'Competencia',
                'Longitud', 'Latitud', 'Tiempo']

In [ ]:
df.columns

Index(['Año_hechos', 'Mes_hechos', 'Fecha_hechos', 'Año_inicio', 'Mes_inicio',
       'Fecha_inicio', 'Delito', 'Fiscalia', 'Agencia', 'Unidad_Investigación',
       'Categoria_delito', 'Calle_hechos', 'Calle_hechos2', 'Colonia_hechos',
       'Alcaldía_hechos', 'Competencia', 'Longitud', 'Latitud', 'Tiempo'],
      dtype='object')

In [ ]:
df.isnull().sum()

Año_hechos                  452
Mes_hechos                  452
Fecha_hechos                452
Año_inicio                    0
Mes_inicio                    0
Fecha_inicio                  3
Delito                        0
Fiscalia                      2
Agencia                       0
Unidad_Investigación        227
Categoria_delito              0
Calle_hechos               3643
Calle_hechos2            838479
Colonia_hechos            58312
Alcaldía_hechos            4022
Competencia             1064079
Longitud                  57363
Latitud                   57363
Tiempo                  1366377
dtype: int64

In [ ]:
df['Año_hechos'].sort_values().unique()

array([1906., 1915., 1917., 1930., 1942., 1950., 1952., 1954., 1955.,
       1956., 1957., 1958., 1960., 1961., 1962., 1963., 1964., 1965.,
       1966., 1967., 1968., 1969., 1970., 1971., 1972., 1973., 1974.,
       1975., 1976., 1977., 1978., 1979., 1980., 1981., 1982., 1983.,
       1984., 1985., 1986., 1987., 1988., 1989., 1990., 1991., 1992.,
       1993., 1994., 1995., 1996., 1997., 1998., 1999., 2000., 2001.,
       2002., 2003., 2004., 2005., 2006., 2007., 2008., 2009., 2010.,
       2011., 2012., 2013., 2014., 2015., 2016., 2017., 2018., 2019.,
       2020., 2021.,   nan])

In [ ]:
df[(df['Año_hechos'].isnull())]

         Año_hechos Mes_hechos Fecha_hechos  ...   Longitud    Latitud Tiempo
628             NaN        NaN          NaN  ... -99.009777  19.362143    NaN
784             NaN        NaN          NaN  ... -99.110716  19.373883    NaN
2160            NaN        NaN          NaN  ...        NaN        NaN    NaN
2227            NaN        NaN          NaN  ...        NaN        NaN    NaN
2815            NaN        NaN          NaN  ... -99.067324  19.472209    NaN
...             ...        ...          ...  ...        ...        ...    ...
1334557         NaN        NaN          NaN  ... -99.227529  19.371181    NaN
1339106         NaN        NaN          NaN  ... -99.071515  19.399227    NaN
1341651         NaN        NaN          NaN  ... -99.136387  19.429080    NaN
1351257         NaN        NaN          NaN  ... -99.193259  19.433623    NaN
1360424         NaN        NaN          NaN  ... -99.158429  19.432773    NaN

[452 rows x 19 columns]

In [ ]:
df.dropna(subset=['Año_hechos', 'Mes_hechos'], inplace=True) #Borramos los REGISTROS que en las columnas
                                                              #'Años_hechos' y 'Mes_hechos' tenían NaN

In [ ]:
df['Año_hechos'].astype('int') #convertimos los años a int

0          2016
1          2016
2          2016
3          2016
4          2015
           ...
1366372    2021
1366373    2021
1366374    2021
1366375    2021
1366376    2021
Name: Año_hechos, Length: 1365925, dtype: int64

In [ ]:
df_10años = df[df.loc[:, 'Año_hechos'] >= 2016].sort_values(by='Año_hechos') # filtramos del año 2010 hacia la presente fecha
df_10años

         Año_hechos Mes_hechos  ...    Latitud  Tiempo
0            2016.0      Enero  ...  19.380315     NaN
382353       2016.0      Marzo  ...  19.497969     NaN
792984       2016.0  Diciembre  ...  19.479957     NaN
382355       2016.0     Agosto  ...  19.372894     NaN
714298       2016.0      Abril  ...  19.446749     NaN
...             ...        ...  ...        ...     ...
1218479      2021.0       Mayo  ...  19.478678     NaN
1218480      2021.0       Mayo  ...  19.496959     NaN
1218481      2021.0       Mayo  ...        NaN     NaN
1218457      2021.0      Abril  ...  19.258613     NaN
1366376      2021.0  Diciembre  ...  19.475398     NaN

[1336460 rows x 19 columns]

In [ ]:
#Eliminamos las columnas que no vamos a ocupar para nuestra investigación

df_10años.drop(columns = ['Año_inicio', 'Mes_inicio', 'Fecha_inicio', 'Fiscalia', 'Agencia', 'Unidad_Investigación', 'Calle_hechos', 'Calle_hechos2', 'Competencia', 'Longitud', 'Latitud', 'Tiempo'], inplace=True)

In [ ]:
df_10años.isnull().sum() # revisando en que columnas tenemos NaN

Año_hechos              0
Mes_hechos              0
Fecha_hechos            0
Delito                  0
Categoria_delito        0
Colonia_hechos      55784
Alcaldía_hechos      3738
dtype: int64

In [ ]:
# Cambiamos LOS NaN POR 'No especificado'
df_10años['Alcaldía_hechos'].fillna('No especificado', inplace=True) 
df_10años['Colonia_hechos'].fillna('No especificado', inplace=True)

In [ ]:
#Corroboramos que se hayan cambiado
df_10años.isnull().sum()

Año_hechos          0
Mes_hechos          0
Fecha_hechos        0
Delito              0
Categoria_delito    0
Colonia_hechos      0
Alcaldía_hechos     0
dtype: int64

In [ ]:
df_10años['Alcaldía_hechos'].unique()

In [ ]:
#filtro_colonias = df_10años[(df_10años['Alcaldía_hechos'].str.contains('IZTAPALAPA', 'XOCHIMILCO'))]
filtro_colonias = df_10años[df_10años.Alcaldía_hechos.isin(['IZTAPALAPA', 'CUAUHTEMOC', 'BENITO JUAREZ',
       'VENUSTIANO CARRANZA', 'XOCHIMILCO', 'COYOACAN',
       'IZTACALCO', 'TLAHUAC', 'GUSTAVO A MADERO', 'MIGUEL HIDALGO',
       'AZCAPOTZALCO', 'TLALPAN', 'CUAJIMALPA DE MORELOS',
       'LA MAGDALENA CONTRERAS',
       'ALVARO OBREGON','MILPA ALTA'])]
filtro_colonias

         Año_hechos Mes_hechos  ...             Colonia_hechos   Alcaldía_hechos
0            2016.0      Enero  ...            AMÉRICAS UNIDAS     BENITO JUAREZ
382353       2016.0      Marzo  ...              NUEVA VALLEJO  GUSTAVO A MADERO
792984       2016.0  Diciembre  ...           GRANJAS MODERNAS  GUSTAVO A MADERO
382355       2016.0     Agosto  ...  SANTA MARTHA ACATITLA SUR        IZTAPALAPA
714298       2016.0      Abril  ...                 BUENAVISTA        CUAUHTEMOC
...             ...        ...  ...                        ...               ...
1218477      2021.0       Mayo  ...           NUEVA DIAZ ORDAZ          COYOACAN
1218479      2021.0       Mayo  ...    AMPLIACIÓN CASAS ALEMÁN  GUSTAVO A MADERO
1218480      2021.0       Mayo  ...           NUEVA ATZACOALCO  GUSTAVO A MADERO
1218457      2021.0      Abril  ...  BARRIO SAN JUAN MOYOTEPEC        XOCHIMILCO
1366376      2021.0  Diciembre  ...    AMPLIACIÓN CASAS ALEMÁN  GUSTAVO A MADERO

[1322660 rows x 7 columns]

In [ ]:
delitos = filtro_colonias[(filtro_colonias['Fecha_hechos'] == '2021')]
g = delitos.groupby(['Delito']).count().sort_values(by='Año_hechos', ascending=False)
g.head(6)

Empty DataFrame
Columns: [Año_hechos, Mes_hechos, Fecha_hechos, Categoria_delito, Colonia_hechos, Alcaldía_hechos]
Index: []

In [ ]:
freq = filtro_colonias.groupby(['Año_hechos']).count()
freq['Mes_hechos'].mean()

In [ ]:
freq.loc[(freq.loc[:, 'Mes_hechos'] >= 0)].sort_values(by='Año_hechos', ascending=False)

            Mes_hechos  Fecha_hechos  ...  Colonia_hechos  Alcaldía_hechos
Año_hechos                            ...
2021.0          210256        210256  ...          210256           210256
2020.0          200637        200637  ...          200637           200637
2019.0          241898        241898  ...          241898           241898
2018.0          251848        251848  ...          251848           251848
2017.0          224895        224895  ...          224895           224895
2016.0          193126        193126  ...          193126           193126

[6 rows x 6 columns]

In [ ]:
freq = filtro_colonias.groupby(['Alcaldía_hechos']).count()
freq['Mes_hechos'].mean()

82666.25

In [ ]:
freq.loc[(freq.loc[:, 'Mes_hechos'] >= 0)].sort_values(by='Año_hechos', ascending=False)

                        Año_hechos  ...  Colonia_hechos
Alcaldía_hechos                     ...
CUAUHTEMOC                  204412  ...          204412
IZTAPALAPA                  201232  ...          201232
GUSTAVO A MADERO            135271  ...          135271
BENITO JUAREZ               108907  ...          108907
ALVARO OBREGON               91318  ...           91318
COYOACAN                     89739  ...           89739
MIGUEL HIDALGO               86045  ...           86045
TLALPAN                      78812  ...           78812
VENUSTIANO CARRANZA          77156  ...           77156
AZCAPOTZALCO                 65431  ...           65431
IZTACALCO                    56032  ...           56032
XOCHIMILCO                   42190  ...           42190
TLAHUAC                      33834  ...           33834
LA MAGDALENA CONTRERAS       22195  ...           22195
CUAJIMALPA DE MORELOS        20036  ...           20036
MILPA ALTA                   10050  ...           10050

[16 rows x 6 columns]

In [ ]:
freq = filtro_colonias.groupby(['Mes_hechos']).count()
freq['Año_hechos'].mean()

110221.66666666667

In [ ]:
freq.loc[(freq.loc[:, 'Año_hechos'] >= 0)].sort_values(by='Año_hechos', ascending=False)

            Año_hechos  Fecha_hechos  ...  Colonia_hechos  Alcaldía_hechos
Mes_hechos                            ...
Octubre         117869        117869  ...          117869           117869
Marzo           116311        116311  ...          116311           116311
Agosto          113790        113790  ...          113790           113790
Mayo            111591        111591  ...          111591           111591
Septiembre      110916        110916  ...          110916           110916
Noviembre       110902        110902  ...          110902           110902
Julio           109140        109140  ...          109140           109140
Enero           108499        108499  ...          108499           108499
Febrero         108083        108083  ...          108083           108083
Junio           107452        107452  ...          107452           107452
Abril           104827        104827  ...          104827           104827
Diciembre       103280        103280  ...          103280           103280

[12 rows x 6 columns]

In [ ]:
filtro_colonias['Delito'].unique()

In [ ]:
freq = filtro_colonias.groupby(['Delito']).count()
freq['Mes_hechos'].mean()

In [ ]:
freq.loc[(freq.loc[:, 'Mes_hechos'] >= 3845)].sort_values(by='Año_hechos', ascending=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [Año_hechos, Mes_hechos, Fecha_hechos, Categoria_delito, Colonia_hechos, Alcaldía_hechos]
Index: []

In [ ]:
datos_limpios = filtro_colonias
datos_limpios.to_csv('Delitos.csv')